// variables
$cyan300: #8FE3F9;
$cyan600: #4D96A9;
$purple300: #D9B8FF;
$purple600: #855FB1;
$slate300: #D1D1DF;
$slate600: #87879D;
$slate900: #28283D;

// @
@font-face {
    font-family: redhat;
    src: url('../assets/fonts/RedHatDisplay-VariableFont_wght.ttf');
}

@mixin text($size, $color, $weight, $lineh) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
    line-height: $lineh;
    font-family: redhat;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    margin: 0;
}

/* container styles */
p{
    @include text(18px, $slate600, 500, 150%);
    margin-top: 32px;
    margin-bottom: 32px;
}
.button{
    padding:16px 40px;
    border-radius:50px;
    @include text(16px, white, 700, 150%);
}

body{
    max-width: 100vw;
    min-height: 100vh;
    @include center;
    flex-direction: column;
    padding-top: 80px;
}

header{
    @include center;
    justify-content:space-between;
    text-align:center;
    margin-top:64px;
    margin-bottom:130px;
    width:100vw;
    overflow:hidden;

    #left{
        margin-left:-25px;
    }
    #right{
        margin-right:-25px;
    }
    .tabletHero {
        display: none;
    }
    #headerText{
        max-width:450px;
        h1{
            @include text(64px, $slate900, 900, 110%);
        }
    }
    #buttons{
        @include center;
        color:white;
        gap: 17px;
        #downloadbtn-cyan {
            background-color: $cyan600;
            color: white;
            &:hover {
                cursor: pointer;
                background-color: #71C0D4;
            }
            .version {
                color: $cyan300
            }
        }
        #whatbtn {
            background-color: $purple600;
            color: white;
            &:hover {
                cursor: pointer;
                background-color: #B18BDD;
            }
        }
    }
}

article {
    width: 100vw;
    #imageGallery {
        @include center;
        margin-top: 64px;
        margin-bottom: 64px;
        img{
            border-radius: 8px;
            width:256px;
            height:256px;
            margin:16px;
        }
    }
    #articletxt {
        width: 544px;
        margin: auto;
        @include center;
        flex-direction: column;
        text-align: center;
        h3{
            @include text(16px, $cyan600, 800, 110%);
            letter-spacing: 4px;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        h2{
            @include text(40px, $slate900, 800, 110%);
        }
    }
}

#circle2 {
    margin-bottom: -16px;
}

footer {
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 32px;
    background-image: url('../assets/desktop/image-footer.png');
    background-size: cover;

    h2 {
        @include text(40px, white, 800, 110%);
    }
    p {
        width: 355px;
        @include text(18px, white, 500, 150%);
    }
    #downloadbtn-purple {
        background-color: $purple600;
        color: white;
        &:hover {
            cursor: pointer;
            background-color: #B18BDD;
        }
        .version {
            color: $purple300
        }
    }
}

/* tablet view */
@media only screen and (max-width:1160px){
    body{
        padding-top: 48px;
    }
    .tabletHero{
        display: block  !important;
        width: 100vw;
    }
    .desktopHero{
        display: none;
    }
    header{
        flex-direction: column;
    }
    #headerText{
        margin-top:72px;
        margin-bottom:64px;
    }
    footer {
        background-image: url('../assets/tablet/image-footer.png');
    }
}

/* phone view */
@media only screen and (max-width:375px){
    #headerText{
        margin-top:48px;
        margin-bottom:120px;
        text-shadow: none;
    }
    footer {
        background-image: url('../assets/mobile/image-footer.png');
    }
}